@import '../common/global';

/** global **/

body {
  background-color: #ebebeb;
}

/** components **/

.card {
  padding: .8rem 2rem;
  background: white;
  border: 1px solid #bbb;
  border-radius: 3px;
}

/** specific **/

#app {
  display: flex;
  width: 100%;
}

.fav-list {
  width: 25%;
  padding: 0;
  margin-right: .5rem;
  height: 100%;

  .title {
    margin: 0;
    font-size: .85rem;
    text-align: center;
    padding: .5rem 0;
  }

  ul {
    padding: 0;
    border-top: 1px solid #ddd;
    margin: 0;
    height: 408px;
    overflow: auto;

    .item {
      padding: 0 .5rem;
      cursor: pointer;
      &:hover {
        color: highlightText;
        background: $bg-highlight;
      }
    }
  }
}

.form-container {
  width: 75%;

  .setting-form {
    position: relative;
    margin-bottom: .5rem;

    .form-item {
      display: flex;
      justify-content: center;
      margin-bottom: .8rem;
      width: 100%;
      &:first-child {
        margin-top: .8rem;
      }

      label {
        margin-right: 1rem;
        width: 35%;
      }

      input {
        width: 65%;
        &:focus {
          outline: none;
          border: 1px solid $bd-form-input;
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: flex-end;
    }
  }

  .fav-form {
    display: flex;
    input {
      width: 100%;
      margin-right: .8rem;
    }
  }
}
