body {
  background-color: #ebebeb;
}

.setting-form {
  padding: .8rem 2rem;
  background: white;
  border: 1px solid #bbb;
  border-radius: 3px;
  position: relative;

  .form-item {
    display: flex;
    justify-content: center;
    margin-bottom: .8rem;
    width: 100%;
    &:first-child {
      margin-top: .8rem;
    }

    label {
      margin-right: 1rem;
      width: 35%;
    }

    input {
      width: 65%;
      border: 1px solid #bfc1c5;
      padding: 5px 8px;
      border-radius: 3px;
      background: #fafbfd;
      &:focus {
        outline: none;
        border: 1px solid #56a8c4;
      }
    }
  }

  button {
    padding: 3px 0;
    cursor: pointer;
    position: absolute;
    bottom: -35px;
    right: 0;
    background: linear-gradient(0deg, #438ae4, #75c5ff);
    border: 1px solid #bec6ca;
    color: white;
    border-radius: 5px;
    width: 7rem;
    &:focus {
      outline: none;
    }

    &:hover {
      background: linear-gradient(0deg, #2e72ca, #58b1f0);
    }
  }
}
