$bd-color-table: #57606e;

.container {
  width: 80%;
  overflow: overlay;
  height: 70%;

  .data-table {
    display: flex;

    .column {
      border-right: 1px solid $bd-color-table;
      border-bottom: 1px solid $bd-color-table;
      border-top: 1px solid $bd-color-table;
      &:first-child {
        border-left: 1px solid $bd-color-table;
      }

      .column-name {
        border-bottom: 1px solid $bd-color-table;
        background: #3a485d;
        padding: 0 .5rem;
        position: sticky;
        top: 0;
      }

      .record-list {
        margin: 0;
        padding: 0;

        li {
          height: 25px;
          padding: 0 .5rem;
          &:nth-child(even) {
            background-color: #2e3743;
          }
          white-space: nowrap;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

