@import '../common/global';

$title-bar-height: 33px;

body {
  margin: 0;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

main {
  display: flex;
  height: calc(100% - #{$title-bar-height});

  &.dark {
    * {
      color: #c6cbd1;
    }
  }
}

@import './parts/titlebar';
@import './parts/database';
@import './parts/data-table';
@import './parts/side-tab';
