/** variables **/
/** global **/
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b627080;
}

/** components **/
.btn-primary {
  padding: 3px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#438ae4), to(#75c5ff));
  background: linear-gradient(0deg, #438ae4, #75c5ff);
  border: 1px solid #bec6ca;
  color: white;
  border-radius: 5px;
  width: 7rem;
}

.btn-primary:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#2e72ca), to(#58b1f0));
  background: linear-gradient(0deg, #2e72ca, #58b1f0);
}

.btn-secondary {
  padding: 3px 0;
  border: 1px solid #bec6ca;
  background: #fcfeff;
  color: #333;
  border-radius: 5px;
  width: 7rem;
}

.btn-secondary:hover {
  background: #eceff0;
}

.input-field {
  border: 1px solid #bfc1c5;
  padding: 5px 8px;
  border-radius: 3px;
  background: #fafbfd;
}

.input-field:focus {
  outline: none;
  border: 1px solid #56a8c4;
}

body {
  margin: 0;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 33px);
}

main.dark * {
  color: #c6cbd1;
}

.title-bar {
  color: #c6cbd1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1e2226;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-app-region: drag;
  border-bottom: 1px solid #2f3d45;
}

.title-bar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.title-bar .menu .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: .5rem;
}

.title-bar .menu .menu-item {
  margin: 0;
  padding: 0;
  padding-right: .5rem;
}

.title-bar .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-bar .btns .title-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  -webkit-app-region: no-drag;
}

.title-bar .btns .title-btn:hover {
  background: #343b43;
}

.title-bar .btns .title-btn.close:hover {
  background: #d21e1e;
}

.database-list {
  padding: 0;
  overflow: auto;
  margin: 0;
  width: 300px;
  padding: .5rem 0;
  background: #2b313a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  resize: horizontal;
}

.database-list .database .table-list {
  padding: 0;
  display: none;
}

.database-list .database .table-list.open {
  display: block;
}

.database-list .database .table-list li {
  padding-left: 30px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.database-list .database .table-list li:hover {
  background: #39414d;
}

.database-list .database .table-list li i.fa-table {
  color: #e1bb66;
  margin-right: .5rem;
}

.database-list .database .name {
  padding: 0 .5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.database-list .database .name:hover {
  background: #39414d;
}

.database-list .database .name .chevron svg:hover {
  fill: #0079ff;
}

.database-list .database .icon {
  margin-right: .5rem;
}

.database-list .database .icon i.fa-database {
  color: #5eedff;
}

.container {
  width: 80%;
  overflow: auto;
  height: 70%;
}

.container .data-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .data-table .column {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.container .data-table .column:first-child {
  border-left: 1px solid;
}

.container .data-table .column .column-name {
  border-bottom: 1px solid;
  background: #3a485d;
  padding: 0 .5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container .data-table .column .record-list {
  margin: 0;
  padding: 0;
}

.container .data-table .column .record-list li {
  height: 25px;
  padding: 0 .5rem;
  white-space: nowrap;
}

.container .data-table .column .record-list li:nth-child(even) {
  background-color: #2e3743;
}

.container .data-table .column .record-list li:last-child {
  border-bottom: none;
}
