/** variables **/
/** global **/
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

/** components **/
.btn-primary {
  padding: 3px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#438ae4), to(#75c5ff));
  background: linear-gradient(0deg, #438ae4, #75c5ff);
  border: 1px solid #bec6ca;
  color: white;
  border-radius: 5px;
  width: 7rem;
}

.btn-primary:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#2e72ca), to(#58b1f0));
  background: linear-gradient(0deg, #2e72ca, #58b1f0);
}

.btn-secondary {
  padding: 3px 0;
  border: 1px solid #bec6ca;
  background: #fcfeff;
  color: #333;
  border-radius: 5px;
  width: 7rem;
}

.btn-secondary:hover {
  background: #eceff0;
}

.input-field {
  border: 1px solid #bfc1c5;
  padding: 5px 8px;
  border-radius: 3px;
  background: #fafbfd;
}

.input-field:focus {
  outline: none;
  border: 1px solid #56a8c4;
}

body {
  margin: 0;
  padding: .5rem;
  font-size: 15px;
}

.dark * {
  color: #c6cbd1;
}

.database-list {
  padding: 0;
}

.database-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.database-list li .icon {
  margin-right: .5rem;
}

.database-list li .icon i.fa-database {
  color: #5eedff;
}
